<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="css/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobcare - Dashboard</title>
</head>
<body>
    <nav>
        <h3 style="font-weight: bolder;">Mobcare</h3>
        <aside>
            <img src="https://res.cloudinary.com/dbfue99qr/image/upload/v1707734165/Mobcare/3135715_xvqxwa.png" alt="avater">
            <span style="color: white;" class=" glyphicon glyphicon-option-horizontal" onclick="showMenu()">
            <ul class="menu">
                <li><a href="/" style="color: white;">Home</a></li>
            </ul>
            </span>
        </aside>
    </nav>

    <section class="boxCont">
        <div class="box">
            <img src="https://res.cloudinary.com/dbfue99qr/image/upload/v1707734165/Mobcare/wallet_c8come.png" alt="">
           <h3>Welcome back!</h3>
           <h1>Admin</h1>
           
        </div>
        
        <div class="box others"  onclick="showPopUp(customerPopUp)">
            <p style="text-align: center; font-size: .8em; color: #046599; " ><span class="material-symbols-outlined">
                group
                </span></p>
            <h2>Customers</h2>    
        </div>
        <div class="box others" onclick="showPopUp(verifyAgentPopUp)">
            <!-- <span class="material-symbols-outlined">
                person_add
                </span> -->
            <h2>Verify Agents</h2>
        </div>
        <div class="box others" onclick="showPopUp(approvedAgentPopUp)">
            <!-- <p> <span class="material-symbols-outlined">
                person_check
                </span></span></p> -->
            <h2>Approved Agents</h2>
        </div>
        
    </section>

    <section class="boxCont">
        <div class="box others" onclick="showPopUp(transactions)">
            <!-- <p style="margin-bottom: 2.4rem; margin-left: -1rem; margin-top: 1rem;"> <span class="glyphicon glyphicon-list-alt" style="font-size: 7.5rem;"></span></p> -->
            <h2>All Transactions</h2>
        </div>
        <div class="box others ">
            <!-- <p><span class="material-symbols-outlined" onclick="showPopUp(exportPopUp)">
                bar_chart
                </span></p> -->
            <h2>Export Data</h2>
        </div>

        <div class="box others" onclick="showPopUp(claimReqPopUp)">
            <!-- <p><span class="material-symbols-outlined" >
                bar_chart
                </span></p> -->
            <h2>Claim Requests</h2>
        </div>
    </section>

         <!-- Customers pop up modal -->
        <section class="popUp" id="customerPopUp" style="width: 100%;">
            <b style="text-align: right; margin-left: 78%;" class="back" onclick="hidePopUp(customerPopUp)"><i class="glyphicon glyphicon-chevron-left"></i> Back</b>
            <div class="popUpBox">
                <div class="tableCont" style="width: 110%;">
                    <table class="table table-striped" >
                        <thead>
                            <tr class="bg bg-primary">
                                <th>Id</th>
                                <th>Customer</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                <% for (let i = 0; i < customers.length; i++) { %>
                                    <tr>
                                        <% const element = customers[i]; %>
                                        <td><%= element.id %></td>
                                        <td><%= element.firstName %> <%= element.middleName %> <%= element.lastName %></td>
                                        <td><%= element.phoneNumber %></td>
                                        <td class="customerDetailBtn"><a href="/see-customer-details?id=<%= element.phoneNumber %>"><button class="btn btn-primary" style="margin: 0;">Details</button></a></td>
                                    </tr>
                                <% } %>                        
                        </tbody>
                    </table>
                </div>        
            </div>
        </section>
    <!-- Customers modal ends -->


    <!-- Approved Agent pop up modal -->
    <section class="popUp" id="approvedAgentPopUp" style="width: 100%;">
        <b style="text-align: right; margin-left: 78%;" class="back" onclick="hidePopUp(approvedAgentPopUp)"><i class="glyphicon glyphicon-chevron-left"></i> Back</b>
        <div class="popUpBox">
            <div class="tableCont" style="width: 110%;">
                <table class="table table-striped" >
                    <thead>
                        <tr class="bg bg-primary">
                            <th>Agent</th>
                            <th>Phone</th>
                            <th>Agency</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (agents === 'No data') { %>
                            <tr>
                                <td>No data</td>
                            </tr>
                            <% } else { %>
                              
                            <% } %>
                        <% for (let i = 0; i < agents.length; i++) { %>
                            <tr>
                                <% const each = agents[i]; %>
                                <td><%= each.name %></td>
                                <td><%= each.phone %></td>
                                <td><%= each.agency %> </td>
                                <td class="agentDetailBtn"><a href="/see-approved-agent-details?id=<%= each.phone %>"><button class="btn btn-primary" style="margin: 0;">Details</button></a></td>
                            </tr>
                        <% } %> 
                    </tbody>
                </table>
            </div>        
        </div>
    </section>
    <!-- Approved agent modal ends -->

    <!-- Verify Agent pop up modal -->
    <section class="popUp" id="verifyAgentPopUp" style="width: 100%;">
        <b style="text-align: right; margin-left: 78%;" class="back" onclick="hidePopUp(verifyAgentPopUp)"><i class="glyphicon glyphicon-chevron-left"></i> Back</b>
        <div class="popUpBox">
            <div class="tableCont" style="width: 110%;">
                <table class="table table-striped" >
                    <thead>
                        <tr class="bg bg-primary">
                            <th>Agent</th>
                            <th>Phone</th>
                            <th>Agency</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (agentRequest === 'No data') { %>
                            <tr>
                                <td>No new agent sign up requests.</td>
                            </tr>
                        <% } else { %>
                            <% for (let i = 0; i < agentRequest.length; i++) { %>
                                <tr>
                                    <% const each2 = agentRequest[i]; %>
                                    <td><%= each2.name %></td>
                                    <td><%= each2.phone %></td>
                                    <td><%= each2.agency %> </td>
                                    <td class="agentReqDetailBtn"><a href="/see-unverified-agent-details?id=<%= each2.phone %>"><button class="btn btn-primary" style="margin: 0;">Details</button></a></td>
                                </tr>
                            <% } %>
                        <% } %>
                         
                    </tbody>
                </table>
            </div>        
        </div>
    </section>
    <!-- Verify agent modal ends -->


    <!-- Transactions pop up modal -->
    <section class="popUp" id="transactions" style="width: 100%;">
        <b style="text-align: right; margin-left: 78%;" class="back" onclick="hidePopUp(transactions)"><i class="glyphicon glyphicon-chevron-left"></i> Back</b>
        <div class="popUpBox">
            <div class="tableCont" style="width: 110%;">
                <table class="table table-striped" >
                    <thead>
                        <tr class="bg bg-primary">
                            <th>Id</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Amount</th>
                            <th>Agent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if ( transactions !== 'No data') { %>
                            <%  for (var each of  transactions) {  %>
                                <tr>
                                    <td><%= each.id %></td>
                                    <td><%= each.time %></td>
                                    <td><%= each.date %></td>
                                    <td><%= each.user %></td>
                                    <td>&#8358; <%= each.amount %></td>
                                    <td><%= each.agent %></td>
                                </tr>
                            <% }  %>
                            
                        <% } else { %>
                            <tr>
                                <td>No transactions yet.</td>
                            </tr>
                        <% } %>                    
                    </tbody>
                </table>
            </div>        
        </div>
    </section>
<!-- Transactions modal ends -->


      <!-- Export data pop up modal -->
      <section class="popUp" id="exportPopUp" style="width: 100%;">
        <b style="text-align: right; margin-left: 78%;" class="back" onclick="hidePopUp(exportPopUp)"><i class="glyphicon glyphicon-chevron-left"></i> Back</b>
        <div class="popUpBox" style="width: 80%;">
            <div class="tableCont" style="width: 110%;">
                <table class="table table-striped" >
                    
                    <tbody>
                                <tr>
                                    <td>Customers Worksheet</td>
                                    <td class="customerDetailBtn"><a href="/export?type=customers"><button class="btn btn-primary" style="margin: 0;">Download</button></a></td>
                                </tr>

                                
                                <tr>
                                    <td>Agents Worksheet</td>
                                    <td class="customerDetailBtn"><a href="/export?type=agents"><button class="btn btn-primary" style="margin: 0;">Download</button></a></td>
                                </tr>

                                
                                <tr>
                                    <td>Repair plan subscribers Worksheet</td>
                                    <td class="customerDetailBtn"><a href="/export?type=repair"><button class="btn btn-primary" style="margin: 0;">Download</button></a></td>
                                </tr>

                                <tr>
                                    <td>Theft plan subscribers Worksheet</td>
                                    <td class="customerDetailBtn"><a href="/export?type=theft"><button class="btn btn-primary" style="margin: 0;">Download</button></a></td>
                                </tr>

                                <tr>
                                    <td>Purchase plan subscribers Worksheet</td>
                                    <td class="customerDetailBtn"><a href="/export?type=purchase"><button class="btn btn-primary" style="margin: 0;">Download</button></a></td>
                                </tr>

                                <tr>
                                    <td>Transactions Worksheet</td>
                                    <td class="customerDetailBtn"><a href="/export?type=transactions"><button class="btn btn-primary" style="margin: 0;">Download</button></a></td>
                                </tr>
                    </tbody>
                </table>
            </div>        
        </div>
    </section>
    <!-- Export data modal ends -->


     <!-- Requests pop up modal -->
     <section class="popUp" id="claimReqPopUp" style="width: 100%;">
        <b style="text-align: right; margin-left: 78%;" class="back" onclick="hidePopUp(claimReqPopUp)"><i class="glyphicon glyphicon-chevron-left"></i> Back</b>
        <div class="popUpBox" style="position: relative;">
            <div class="tableCont" style="width: 110%;" id="claimReqTable">
                <table class="table table-striped">
                    <thead>
                        <tr class="bg bg-primary">
                            <th>Id</th>
                            <th>Customer Phone</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (appointments === 'No data') { %>
                            <tr>
                                <td>No claim requests yet.</td>
                            </tr>
                            <% } else { %>
                              
                            <% } %>
                        <% for (let i = 0; i < appointments.length; i++) { %>
                            <tr>
                                <% const each = appointments[i]; %>
                                <td><%= each.id %></td>
                                <td><%= each.user %></td>
                                <td><%= each.balance %> </td>
                                <td class="showFixDateFormBtn"><button class="btn btn-primary" style="margin: 0;">Fix Date</button></td>
                            </tr>
                        <% } %> 
                    </tbody>
                </table>

                <div  id="claimReqTooltip" class="fixDateFormCont">
                    <p onclick="hidePopUp(claimReqTooltip)"><span class="glyphicon glyphicon-remove" ></span></p>
                    <form action="" id="fixDateForm" onsubmit="return false">
                        <div class="mb-3">
                            <label for="user" class="form-label">User</label>
                            <input type="tel" name="user" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="date" class="form-label">Appointment Date</label>
                            <input type="date" name="date" class="form-control">
                        </div>

                        <div style="display: flex; gap: 9px;">
                            <button type="submit" class="submitFixDateFormBtn btn btn-primary">Set new date</button>
                            <button type="submit" class="endAppointmentBtn btn btn-success">End appointment</button>
                        </div>
                    </form>
                </div>
            </div>        
        </div>
        </section>
    <!-- Requests modal ends -->


    
    <script src="css/bootstrap-3.4.1-dist/js/npm.js"></script>
    <script>
        // Get the button and tooltip elements
        const back = document.querySelector('.back')
        const popUp = document.querySelector('.popUp')
        const fixDateFormCont = document.querySelector('.fixDateFormCont')
        const customerPopUp = document.getElementById('customerPopUp');
        const claimReqPopUp = document.getElementById('claimReqPopUp');
        const verifyAgentPopUp = document.getElementById('verifyAgentPopUp');
        const approvedAgentPopUp = document.getElementById('approvedAgentPopUp');
        const exportPopUp = document.getElementById('exportPopUp');
        const transactions = document.getElementById('transactions');
        const claimReqTooltip = document.getElementById('claimReqTooltip');
        
        //logic to show menu
        function showMenu() {
            var menu = document.querySelector('.menu')
            menu.classList.toggle('showMenu')
        }
        
       

       
        
       

        function showPopUp(param) {
            param.style.zIndex = 2;
            param.style.opacity = 1
        }

        function hidePopUp(param) {
            param.style.zIndex = -4;
            param.style.opacity = 0
        }

        // logic to show show appointment form
        var user;
        var showFixDateFormBtn = document.querySelectorAll('.showFixDateFormBtn')
        showFixDateFormBtn.forEach((each) => {
            each.addEventListener('click', function () {
            showPopUp(fixDateFormCont)
            user = this.parentNode.children[1].innerHTML
            const fixDateForm = document.getElementById('fixDateForm');
            var userPhoneInput = document.forms['fixDateForm']['user']
            userPhoneInput.value = user
        })
        })
        

        //logic to submit fix date form
        var submitFixDateFormBtn = document.querySelector('.submitFixDateFormBtn')
        submitFixDateFormBtn.addEventListener('click', function () {
            this.disabled = 'true'
            this.innerHTML = 'Please wait...'
            var user = document.forms['fixDateForm']['user'].value
            var date = document.forms['fixDateForm']['date'].value

            var body = {
                user: user,
                date: date
            }


            var fetchOptions = {
                method: 'POST',
                body: JSON.stringify(body),
                headers: new Headers({
                    'Content-Type': 'application/json; charset=UTF-8'
                })
            }

            fetch('/fix-appointment', fetchOptions)
            .then(res => {
                if (res.status === 200) {
                    this.innerHTML = 'Successful!';
                    submitFixDateFormBtn.disabled = 'false';
                }else{
                    this.innerHTML = 'Failed!'
                    submitFixDateFormBtn.disabled = 'false';
                }
            })
        })


        //logic to end appointment
        var endAppointmentBtn = document.querySelector('.endAppointmentBtn')
        endAppointmentBtn.addEventListener('click', function () {
            this.disabled = 'true'
            this.innerHTML = 'Please wait...'
            var body = {
                user: user
            }

            var fetchOptions = {
                method: 'POST',
                body: JSON.stringify(body),
                headers: new Headers({
                    'Content-Type': 'application/json; charset=UTF-8'
                })
            }

            fetch('/end-appointment', fetchOptions)
            .then(res => {
                if (res.status === 200) {
                    this.innerHTML = 'Appointment ended!'
                    this.disabled = 'false'
                }else{
                    this.innerHTML = 'Failed!'
                    this.disabled = 'false'
                }
            })
        })
       

        //logic for creating local storage
        // function createCache() {
        //     const acctNo = document.getElementById('acctNo').innerText;
        //     localStorage.setItem('acctId', acctNo)
        // }
        // createCache();
        
        

       
    </script>
</body>
</html>
